:root {
    --foregroundColor: #e3f2fd;
    --backgroundColor: #2a313b;
    --primaryColor: #fba3c4; //95c550
    --secondaryColor: #323da5;
    --primaryShadow: rgb(26 23 24 / 42%);
}

body.light-theme {
    --foregroundColor: #1a2620;
    --backgroundColor: #f6fbff;
    --primaryColor: #a3d858;
    --secondaryColor: #a05793;
    --primaryShadow: rgb(165 165 165 / 42%);
}