<mat-toolbar>
  <span>Post Me</span>
  <span class="example-spacer"></span>
  <ul>
    <li (click)="switchTheme()" aria-label="Toggle Darkmode">
      <mat-icon>visibility</mat-icon>
    </li>
    <li (click)="seeTheCode()" aria-label="Open github page and read the code">
      <mat-icon>code</mat-icon>
    </li>
  </ul>
</mat-toolbar>

<app-posts [posts]="posts"></app-posts>

<ng-template #loading>
  <mat-grid-list cols="10" rowspan="10" gutterSize="10">
    <mat-grid-tile *ngFor="let _ of [].constructor(100)">
      <ngx-skeleton-loader appearance="circle" [theme]="{'height': '200px', 'width': '200px','border-radius': '20px'}">
      </ngx-skeleton-loader>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>