mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
    font-family: 'Barriecito', cursive;
    font-size: 40px;

    svg {
        height: 40px;
        margin-right: 10px;
        fill: var(--primaryColor);
    }
}

mat-toolbar ul {
    display: flex;
    list-style: none;
    text-align: center;
    vertical-align: baseline;

    li {
        background: rgba(0, 0, 0, 0.05);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0 3px;
        color: var(--foregroundColor);
        transition: 0.1s ease;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            color: var(--primaryColor);
            background: var(--secondaryColor);
        }
    }
}

.example-spacer {
    flex: 1 1 auto;
}